@import "src/assets/colors.scss";

.input {
  background-color: $color-outer_space;
  color: $color-white;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;

  &:hover {
    border: 2px solid $color-cornflower_blue;
  }
}

.error {
  border: 2px solid $color-sunset_orange;
  &:hover {
    border: 2px solid $color-sunset_orange;
  }
}
.inpDisabled {
  background-color: $color-oslo_gray;
  &:hover {
    border: none;
  }
}

.inputLight {
  background-color: $color-white;
  color: $color-black;
}
