@import "src/assets/colors.scss";

.filterContainer {
  background-color: $color-shark;
  color: $color-white;
  padding: 20px 30px;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: $color-cape_code;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-bombay;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px $color-panache;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-oslo_gray;
  }
}
.filterContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.filterContentItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sortBtnsContainer {
  display: flex;
  justify-content: space-between;
}
.filterItemRange {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filterContentActions {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.filterContainerLight {
  background-color: $color-bombay;
  border: 2px solid $color-oslo_gray;
  color: $color-black;
}
.filterContainerClose {
  cursor: pointer;
}
.filterContainerVisible {
  display: none;
}
// LIB STYLES
.singleSelect__input-container,
.singleSelect__menu-notice {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #ffffff !important;
}

.singleSelect__option,
.singleSelect__menu-notice {
  background-color: #323537 !important;
  padding: 17px 20px 15px !important;
}

.singleSelect__menu-list,
.singleSelect__value-container,
.singleSelect__input-container {
  padding: 0 !important;
}

.singleSelect__multi-value__remove svg,
.singleSelect__dropdown-indicator,
.singleSelect__clear-indicator,
.singleSelect__option--is-focused {
  cursor: pointer !important;
}

.singleSelect__multi-value__remove svg path,
.singleSelect__dropdown-indicator svg path,
.singleSelect__clear-indicator svg path {
  fill: #afb2b6 !important;
}

.singleSelect__multi-value__remove:hover svg path,
.singleSelect__dropdown-indicator:hover svg path,
.singleSelect__clear-indicator:hover svg path {
  fill: #ffffff !important;
}

.singleSelect__control {
  background-color: #323537 !important;
  min-height: 56px !important;
  border-radius: 10px !important;
  border: none !important;
  padding-left: 20px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  box-shadow: none !important;
  cursor: text !important;
  color: white;
}
.singleSelectLight__control {
  background-color: white !important;
  min-height: 56px !important;
  border-radius: 10px !important;
  border: none !important;
  padding-left: 20px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  box-shadow: none !important;
  cursor: text !important;
  color: #242426;
}
.singleSelect__indicator-separator,
.singleSelect__clear-indicator,
.singleSelectLight__indicator-separator,
.singleSelectLight__clear-indicator {
  display: none !important;
}
.singleSelect__input-container,
.singleSelectLight__input-container {
  margin: 0 !important;
}
.singleSelect__single-value {
  color: white !important;
  margin: 0 !important;
}
.singleSelect__menu {
  margin: 0 !important;
  margin-top: 8px !important;
  background: #323537 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}
.singleSelect__option {
  cursor: pointer !important;
  border-bottom: 1px solid #242426 !important;
}
.singleSelect__option:not(:last-child) {
  border-bottom: 1px solid #242426 !important;
}

.singleSelect__option--is-focused {
  transition: 0.3s !important;
  background: #323537 !important;
  color: #7b61ff !important;
}
.singleSelect__value-container {
  gap: 12px !important;
}

.singleSelect__control__value-container {
  padding-left: 20px !important;
  cursor: text !important;
}

.singleSelect__control__input-container {
  color: #ffffff !important;
}
.multiSelect__input-container,
.multiSelect__multi-value__label,
.multiSelect__option,
.multiSelect__menu-notice {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #ffffff !important;
}
.multiSelect__option,
.multiSelect__menu-notice {
  background-color: #323537 !important;
  padding: 17px 20px 15px !important;
  cursor: pointer;
}
.multiSelect__multi-value__label,
.multiSelect__multi-value__remove,
.multiSelect__menu-list,
.multiSelect__value-container,
.multiSelect__value-container--is-multi,
.multiSelect__input-container {
  padding: 0 !important;
}

.multiSelect__multi-value__remove svg,
.multiSelect__dropdown-indicator,
.multiSelect__clear-indicator,
.multiSelect__option--is-focused {
  cursor: pointer !important;
}

.multiSelect__multi-value__remove svg path,
.multiSelect__dropdown-indicator svg path,
.multiSelect__clear-indicator svg path {
  fill: #afb2b6 !important;
}

.multiSelect__multi-value__remove:hover svg path,
.multiSelect__dropdown-indicator:hover svg path,
.multiSelect__clear-indicator:hover svg path {
  fill: #ffffff !important;
}

.multiSelect__control {
  background-color: #323537 !important;
  min-height: 56px !important;
  border-radius: 10px !important;
  border: none !important;
  padding-left: 20px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  box-shadow: none !important;
  cursor: text !important;
}
.multiSelectLight__control {
  background-color: white !important;
  min-height: 56px !important;
  border-radius: 10px !important;
  border: none !important;
  padding-left: 20px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  box-shadow: none !important;
  cursor: text !important;
  color: #242426;
}
.multiSelect__multi-value {
  background-color: #242426 !important;
  border-radius: 6px !important;
  padding: 4px 8px !important;
  margin: 0 !important;
  gap: 4px !important;
}
.multiSelectLight__multi-value {
  border: 2px solid #afb2b6 !important;
  border-radius: 6px !important;
  padding: 4px 8px !important;
  margin: 0 !important;
  gap: 4px !important;
  background-color: #afb2b6 !important;
}

.multiSelect__multi-value__remove svg,
.multiSelectLight__multi-value__remove svg {
  width: 20px !important;
  height: 20px !important;
}
.multiSelect__multi-value__remove svg path,
.multiSelectLight__multi-value__remove svg path {
  width: 10px !important;
  height: 10px !important;
}
.multiSelect__multi-value__remove:hover {
  background-color: inherit !important;
  cursor: pointer !important;
}
.multiSelectLight__multi-value__remove:hover {
  background-color: inherit !important;
  color: #242426 !important;
  cursor: pointer !important;
}

.multiSelect__indicator-separator,
.multiSelect__clear-indicator,
.multiSelectLight__indicator-separator,
.multiSelectLight__clear-indicator {
  display: none !important;
}

.multiSelect__menu {
  margin: 0 !important;
  margin-top: 8px !important;
  background: #323537 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}
.multiSelectLight__menu {
  margin: 0 !important;
  margin-top: 8px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.multiSelectLight__option {
  cursor: pointer;
  padding: 17px 20px 15px !important;
}
.multiSelect__option:not(:last-child) {
  border-bottom: 1px solid #242426;
}
.multiSelect__option--is-focused {
  transition: 0.3s !important;
  background: #323537 !important;
  color: #7b61ff !important;
}
.multiSelectLight__option--is-focused {
  transition: 0.3s !important;
  background: #d2dee7 !important;
  color: #7b61ff !important;
}

@media (max-width: 620px) {
  .formSelectWrapper {
    width: 100%;
    height: 100%;
  }
}
