@import "src/assets/colors.scss";

.themeToggle {
  width: fit-content;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: $color-oslo_gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: $color-white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.slider:hover {
  background-color: $color-bombay;
}
input:checked + .slider:hover {
  background-color: $color-heliotrope;
}
input:checked + .slider {
  background-color: $color-cornflower_blue;
}
input:focus + .slider {
  box-shadow: 0 0 1px $color-cornflower_blue;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
