// BACKGROUND COLORS
$color-black: #000000;
$color-shark: #242426;
$color-outer_space: #323537;
$color-cape_code: #3d4042;

//SYSTEM COLORS
$color-cornflower_blue: #7b61ff;
$color-heliotrope: #917cff;
$color-oslo_gray: #80858b;

//CONTEXTUAL COLORS
$color-sunset_orange: #ff5154;
$color-bombay: #afb2b6;
$color-panache: #f3faf7;
$color-white: #ffffff;

// TERTIARY COLORS
$color-green_haze: #00a340;
$color-buttercup: #f3a608;
$color-flamingo: #f45d2d;
$color-crimson: #dc143c;
