@import "src/assets/colors.scss";

.pageContainer {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.pageContent {
  display: flex;
  padding-bottom: 65px;
}

@media (max-width: 1280px) {
  .pageContainer {
    height: 100%;
    align-items: center;
  }
  .pageContent {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    // padding-right: 60px;
    // padding-left: 60px;
  }
}
@media (max-width: 400px) {
  .pageContent {
    padding: 0;
    margin: 0;
  }
}
