@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;600;700&display=swap");
@import "src/assets/colors.scss";

body {
  background-color: $color-black;
  margin: 0;
  height: 100%;
  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: $color-cape_code;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-bombay;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-oslo_gray;
  }
}
.light {
  background-color: $color-white;
}
.App {
  font-family: "Exo 2", sans-serif;
  background-color: $color-black;
}
.AppLight {
  background-color: $color-white;
}
